.link {
  padding: 0.6rem;
  display: flex;
  align-items: center;
}
.link .vote {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link .content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}
.link .score {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  border: 1px solid lightgray;
}
.link .subtitle {
  color: gray;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
.link .stats {
  color: gray;
  margin-top: 0.2rem;
}
.link .by, .link .unvote {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 1px solid lightgray;
}
.link .unvote {
  cursor: pointer;
}
