.movie-details-screen {
  position: relative;
  min-height: 100vh;
  color: #eee;
  font-family: Roboto, sans-serif;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to top, blue, red);
  background-color: black;
}
.movie-details-screen .wrapper {
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
    transparent 25vh,
    rgba(0, 0, 0, 0.82) 42vh,
    rgba(0, 0, 0, 0.96) 46vh,
    black 50vh
  );
}
.movie-details-screen .poster {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.209);
}
.movie-details-screen .header {
  width: 60em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.movie-details-screen .header .text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.movie-details-screen .header .title {
  margin: 0;
  font-size: 40pt;
  line-height: 42pt;
  font-weight: bold;
  color: white;
}
.movie-details-screen .header .tagline {
  padding: 0.5rem 0 1.8rem 0;
  color: #999;
  font-size: 16pt;
}
.movie-details-screen .header .subtitle {
  color: #999;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 18pt;
}
.movie-details-screen .header .subtitle .year {
  font-weight: bold;
}
.movie-details-screen .header .subtitle .votes {
  color: rgba(255, 255, 0, 0.772);
}
.movie-details-screen .header .space {
  width: 3rem;
}
.movie-details-screen .header .flex-space {
  flex: 1;
}
.movie-details-screen .header .genres span {
  background-color: rgb(89, 186, 255);
  color: black;
  font-weight: bold;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  font-size: 11pt;
  margin-left: 0.4rem;
}
.movie-details-screen .header .overview {
  margin-top: 1.8rem;
  line-height: 18pt;
  color: rgba(255, 255, 255, 0.809);
}
.movie-details-screen .actor-list {
  width: 60em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.movie-details-screen .actor-list .card {
  font-size: 10pt;
  width: 7.4rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: .3rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.movie-details-screen .actor-list .card .profile {
  width: 100%;
}
.movie-details-screen .actor-list .card .name {
  font-size: 105%;
  font-weight: bold;
  padding: .2rem .5rem;
}
.movie-details-screen .actor-list .card .role {
  color: #aaa;
  font-size: 95%;
  padding: 0 .5rem .2rem;
}
