.search-screen {
  background-color: #222;
  font-family: sans-serif;
  color: white;
  min-height: 100vh;
}
.search-screen form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}
.backdrop {
  width: 300px;
  height: 150px;
}
.backdrop.missing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.1);
}
.backdrop.missing img {
  width: 2em;
  height: 2em;
}
.search-screen form input[type="text"] {
  width: 40em;
  padding: 0.5em 0.9em;
  border-radius: .3em;
  margin-right: 0.4em;
  font-size: 14pt;
}
.search-screen form .button {
  background-color: rgb(25, 83, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6em 1.2em;
  border-radius: .3em;
  color: white;
  font-weight: bold;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
}
