body {
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  bottom: 0;
  border: 1px solid black;
}
#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40;
  padding-left: 0.3em;
}
#toolbar * {
  margin-right: 0.3em;
}
#toolbar .color {
  padding: 0.5em;
  border: 2px solid white;
}
#toolbar .color:hover {
  border: 2px solid #aaa;
}
#toolbar .color.active {
  border: 2px solid black;
}
.color {
  box-sizing: border-box;
  width: 30;
  height: 30;
  background-color: gray;
  margin-right: 1px;
}
.figure {
  padding: 0.3em;
  cursor: pointer;
}
.figure:hover {
  background-color: #eee;
}
.figure.active {
  border: 1px solid black;
}
